 body{
    background-color: rgba(240, 136, 18, 0.603);
    
 }
 
 .navbar{
    height: 40px;
    text-align:justify;
    background-color: rgba(240, 136, 18, 0.603);
    border-radius: 50px;

}
.navbar ul{
    overflow: auto;
}
.navbar li{

    float:left;
    list-style: none;
margin: 10px 25px;
}
.navbar li a:hover{
    background-color: rgb(154, 217, 247);
    color:blue ;
    border-radius:60% ;
}
.navbar li a {
    padding: 8px 9px;
    text-decoration: none;
    color: #fff;
}
.logo img{
    
    position:absolute;
    margin-top: 0.8px;
    margin-left: 0.8px;
}
.search{
    float: right;
    color: #fff;
    padding: 12px 75px;

}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 19px;
    width: 129px;
}
table{

    width: 400px;
}
th{
    text-align: center;
}

table,th,td{
    
    border:1px solid #000;
    border-collapse: collapse;
    
}
table,th,td{
    padding: 35px;


}

th{
    background-color: rgba(113, 202, 54, 0.856);
    
}


tr:nth-child(even){
    background-color:#f1cbcb ;
}
tr:nth-child(odd){
    background-color: rgba(120, 158, 177, 0.926);
    
}

h1{
    text-align: justify;
}
 .button{
    background-color: rgba(80, 190, 15, 0.616);
    color:rgb(14, 13, 13);
    border-radius: 40%;
    width: 100px;
}

 .del{
   background-color: rgba(238, 64, 73, 0.76);
   color:rgb(17, 17, 17);
   border-radius: 40%;
   width: 100px;
}

